._9u4i{
    background-color: #f4b328;
    border: 1px solid #0f0824;
    border-radius: 50px;
    color: #fff;
    line-height: 16px;
    overflow: hidden;
    padding: 10px 14px;
    position: relative;
    text-align: center;
    transition: color .33s linear .5s, border-color ease-out .5s, background-color .33s linear 0s;
    white-space: pre;
    z-index: 1;
    cursor: pointer;
}

._9u4i:hover{
    background-color: #0f0824;
    color: #fff;
    transition-delay: .5s;
}

._9u4i:after{
    display: flex;
    justify-content: center;
    background-color: #0f0824;
    border-radius: 50%;
    content: '';
    height: 167px;
    min-width: 167px;
    position: absolute;
    top: 0;
    transform: scale(1) translateY(67px);
    transition: transform 1s cubic-bezier(.66, .00, .34, 1.00);
    width: 100%;
    z-index: -1;
}

._9u4i:hover:after{
    transform: scale(1.47) translateY(0);
}